{% extends "layout.twig" %}

{% block content %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Evaluation EFS</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Annuler</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li class="dropdown">
            <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown
              <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ path('logout') }}">Déconnexion</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  <div class="jumbotron">
    <h2>Evaluation de l'étudiant fonctionnaire stagiaire </h2>
      {% for etudiant in etu_en_cours %}
        <p></p>
        {{etudiant.lib_nom_pat_ind}} {{etudiant.lib_pr1_ind}}
        <p> Parcours/Composante :</p> {{etudiant.lib_etp}}
      {% endfor %}

  </div>
  
  <p></p>
  <div Condition de travail id="condition_travail">
    <h3>
      <li>Condition 2 : Aboutissement du travail de réflexion sur la pratique </li>
    </h3>
     <p>renseignez si la condition a été remplie (si non remplie saisir le(s) motif(s)</p>
     <input type="radio" id="condition21" name="condition[travail]" required="required" value="1" />
     <label for="condition21" class=" required">Condition remplie</label>
     <input type="radio" id="condition22" name="condition[travail]" required="required" value="2" />
     <label for="condition22" class=" required">Condition non remplie</label>
  </div>

  <div Assiduité id="condition_assiduite">
    <h3>
      <li>Condition 3 : Assiduité participative</li>
    </h3>
     <p>renseignez si la condition a été remplie (si non remplie saisir le(s) motif(s)</p>
     <input type="radio" id="condition31" name="condition[assiduite]" required="required" value="1" />
     <label for="condition31" class=" required">Condition remplie</label>
     <input type="radio" id="condition32" name="condition[assiduite]" required="required" value="2" />
     <label for="condition32" class=" required">Condition non remplie</label>
  </div>

{% endblock %}
