<!DOCTYPE html>
<html>
  <head>
    <title>My Poseidon Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script src="{{ asset('js/jquery-1.11.2.min.js')}}"></script>
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
  </body>
</html>
